.hero-background {
    background: rgb(33, 42, 62);
    background: linear-gradient(90deg, rgba(33, 42, 62, 1) 0%, rgba(51, 224, 172, 1) 75%, rgba(60, 107, 106, 1) 100%);
}

.offer-background {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(23, 149, 113, 0.9305847338935574) 75%, rgba(13, 78, 59, 1) 94%);
    color: white;
}

@media screen and (max-width: 799px) {
  

    .carousel-inner {
        height: 300px;
        width: 300px;
        
    }

    .carousel-title {
        font-size: 1rem;
        padding-bottom: 0;
    }

    .lead {
        display: none;
        
    }

    .rounded-lg-3 {
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       width: 300px;
       height: 150px;
       padding-bottom: 10px;
       padding-top: 0;
       margin-left: 20px;
       
    }

    .btn-lg {
       font-size: .5rem;
       text-align: center;
       align-items: center;
       width: 90px;
       height: 30px;
       padding: 5px;
    }

    .webDev-btn {
        padding-bottom: 10px;
    }
}