.cards {
    box-shadow: 9px 3px 15px 4px rgba(163, 163, 163, 0.75);
	-webkit-box-shadow: 9px 3px 15px 4px rgba(163, 163, 163, 0.75);
	-moz-box-shadow: 9px 3px 15px 4px rgba(163, 163, 163, 0.75);
    box-shadow: 0 10px 10px rgba(105, 105, 105, 0.5);
    transition: 0.5s;
    border-radius: 20px;
}

.cards:hover {
    transform: translateY(-10px);
}